<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AbandonProcessGroup</key>
	<true/>
	<key>Label</key>
	<string>com.defycensorship.pipedream.piped</string>
	<key>OnDemand</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Frameworks/Python.framework/Versions/2.6/bin/python</string>
		<string>/opt/local/bin/pipe</string>
		<string>piped</string>
		<string>daemon-mode</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>

